h1= question.title
p= question.body

h3 Questions answers

= render @question.answers
- if user_signed_in?
  = render 'answers/form'
- else
  p= link_to 'Sign in to write an answer', new_user_session_path